@import css3-mixins

.react-rubiks-cube > .cubie
  position: absolute
  @include transform-style(preserve-3d)

  > *
    position: absolute
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 5%
    @include transform-style(preserve-3d)
    background-color: black

    > .sticker
      width: 100%
      height: 100%
      @include transition(background-color linear 0.1s)

      &.white
        background-color: white
        &:hover
          background-color: darken(white, 20%)

      &.yellow
        background-color: #ee0
        &:hover
          background-color: lighten(#ee0, 20%)

      &.red
        background-color: #e00
        &:hover
          background-color: lighten(#e00, 20%)

      &.orange
        background-color: #e70
        &:hover
          background-color: lighten(#e70, 20%)

      &.green
        background-color: #0c0
        &:hover
          background-color: lighten(#0c0, 10%)

      &.blue
        background-color: #00e
        &:hover
          background-color: lighten(#00e, 20%)

      &.gray
        background-color: #ccc
        &:hover
          background-color: darken(#ccc, 20%)

      &.translucent
        opacity: 0.3

.react-rubiks-cube.translucent > .cubie > *,
.react-rubiks-cube > .cubie.translucent > *,
.react-rubiks-cube > .cubie > *.translucent
  background-color: rgba(192, 192, 192, 0.5)
